@import "../variables.scss";
.toolbar {
  background-color: $primary;
  color: $main_text;
  height: 3.5em;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  .menu {
    padding: 12px;
    transition: all .3s ease-in-out;
    cursor: pointer;
    &:hover{
      background-color: rgba($primary-light, .4);
    }
  }
  .logo {
    flex:1;
    text-align: center;
    padding: .3em 1em;
    img{
      -webkit-filter: drop-shadow(2px 2px 4px rgba($color: $main-text, $alpha: .5));
      filter: drop-shadow(2px 2px 4px rgba($color: $main-text, $alpha: .5));
      max-height: 100%;
    }
  }
  .langs{
    font-size: 1em;
    font-family: Kanit-bold;
    .lang{
      text-transform: uppercase;
      display: inline-flex;
      align-items: center;
      cursor: pointer;
      padding: 0 5px;
      height: 100%;
      &:hover {
        background-color: rgba($color: $primary_light, $alpha: .6);
      }
    }
  }
}