
<style>
  @media screen and (max-width: 767px) {
  }
  @media screen and (max-width: 575px) {
    
  }
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <app-sidebar *ngIf="sidebarOpen" (close)="sidebarOpen = false"></app-sidebar>
  <i class="menu fa fa-bars fa-2x" (click)="sidebarOpen = true"></i>
  <div class="logo">
    <img src="/assets/img/lupita.png" />
  </div>
  <div class="langs">
    <span class="lang" *ngFor="let lang of langs" (click)="translateLang(lang)" >
      {{lang}}
    </span>
  </div>
</div>

<div class="content" role="main">

  <router-outlet></router-outlet>
</div>
<!-- Footer -->
<footer>
  Copyright <i class="fa-regular fa-copyright"></i><b> Sheyla Venade Carrascal</b> {{ currentYear }}
</footer>
