@import "../variables.scss";
.toolbar {
  background-color: $primary;
  color: $main_text;
  height: 3.5em;
  display: flex;
  justify-content: space-between;
  .menu {
    padding: 12px;
    transition: all .3s ease-in-out;
    cursor: pointer;
    &:hover{
      background-color: rgba($primary-light, .4);
    }
  }
  .logo {
    flex: 1;
    text-align: center;
    padding: .3em 1em;
    img{
      -webkit-filter: drop-shadow(2px 2px 4px rgba($color: $main-text, $alpha: .5));
      filter: drop-shadow(2px 2px 4px rgba($color: $main-text, $alpha: .5));
      max-height: 100%;
    }
  }
}