<div id="sidebar">
  <img class="logo" src="/assets/img/lupita.png" />
  <div class="menu">
    <div class="menu-item" *ngFor="let page of pages" (click)="navigate(page.url)">
      <i [ngClass]="page.icon"></i>
      <label>
        {{page.name | translate}}
      </label>
    </div>
    <div class="menu-item" (click)="logout()">
      <i class="fa-solid fa-arrow-right-from-bracket"></i>
      <label>
        LOGOUT
      </label>
    </div>
  </div>
  <div class="close-button" (click)="emitClose()">
    <i class="fa-solid fa-angles-left fa-xl"></i>
  </div>
</div>
