@import "/src/variables.scss";
#sidebar {
  color: white;
  position: fixed;
  background: rgba($brown, .9);
  width: 350px;
  top:0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  z-index: 999;
  .logo {
    max-width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
  }
  .menu {
    flex:1;
    .menu-item {
      font-size: 1.5em;
      padding: 15px 20px;
      &:hover {
        background-color: $brown;
      }
      cursor: pointer;
      label {
        cursor: pointer;
      }
    }
  }
  .close-button {
    background-color: rgba($primary-dark, .9);
    text-align: center;
    padding: 10px 20px;
    cursor: pointer;

    &:hover{
      opacity: .9;
    }
  }
}