$primary: #ffcdd2;
$primary_light: #fbebec;
$primary_dark: #fba8a4;

$background: #fff7f8;
$main_text: #ba6b6c;

@font-face {
  font-family: Kanit-regular; 
  src: url('/assets/fonts/kanit/Kanit-Thin.ttf') format('truetype');
}
@font-face {
  font-family: Kanit-bold; 
  src: url('/assets/fonts/kanit/Kanit-ExtraLight.ttf') format('truetype');
}