@import "/src/variables.scss";
h1 {
  color: $main-text;
  font-family: Kanit-regular;
  font-size: 3em;
  margin: .2em;
}
h3 {
  color: $primary-dark;
  font-family: Kanit-regular;
  font-size: 2em;
  margin: .2em;
  b { font-family: Kanit-regular;}
}
.page-title{
  text-align: center;
}
.main {
  text-align: center;
  .like-card{
    margin: auto;
  }
  .like{
    font-size: 2.5em;
  }
  .card{
    margin: 0em 1.2em;
    max-width: 100%;
    width: 450px;
    height: 450px;
  }
  button {
    margin: 10px;
  }
}