<div class="page-title">
  <h1>{{'HOME_PAGE.TITLE' | translate}}</h1>
  <h3><b>Lupita</b> {{'HOME_PAGE.SUBTITLE' | translate}}</h3>
</div>
<main>
  <div>
    <app-like-card [img]="img"></app-like-card>
  </div>
  <button (click)="saveImage()">
    <span *ngIf="todayImage.image; then newTemplate else saveTemplate"></span>
    <ng-template #saveTemplate>
      <label> {{'HOME_PAGE.SAVE_FOR_DAY' | translate}} </label>
      <i class="fa-solid fa-thumbtack"></i>
    </ng-template>
    
    <ng-template #newTemplate>
      <label>{{'HOME_PAGE.NEW_IMAGE' | translate}}</label>
    </ng-template>
  </button>
</main>