<main>
  <h3>{{'SEARCH_PAGE.MESSAGE' | translate}}</h3>
  <div class="search">
    <input type="text" (keyup.enter)="fillPage()" [(ngModel)]="search" />
    <i class="search-icon fa-solid fa-magnifying-glass" (click)="fillPage()"></i>
  </div>
  <div class="gallery" infiniteScroll [infiniteScrollDistance]="0"  (scrolled)="onScroll()">
      <app-like-card [img]="img" *ngFor="let img of images"></app-like-card>
      <div class="max-images-msg" *ngIf="images.length >= maxImages">
        {{'SEARCH_PAGE.MAX_IMAGES_MESSAGE' | translate}}
        <button (click)="cleanReload()">{{'YES' | translate}}</button>
      </div>
      <div class="no-more-images" *ngIf="totalPages && currentPage >= totalPages">
        {{'SEARCH_PAGE.NO_MORE_IMAGES' | translate}}
      </div>
      <div class="loading-ellipsis" [ngClass]="{ 'visible': isLoading }">
        <i class="fa-3x fa-solid fa-ellipsis fa-bounce"></i>
      </div>
  </div>
</main>
