@import "/src/variables.scss";
h3 {
  color: $main-text;
  font-family: Kanit-regular;
  font-size: 2em;
  margin: .2em;
}
.search {
  box-sizing: border-box;
  max-width: 100%;
  padding: 0 15px;
  input{
    box-sizing: border-box;
    font-size: 1.2em;
    padding-right: 2em;
    max-width: 100%;
    width: 40em;
  }
  .search-icon {
    color: $primary_dark;
    margin-left: -2em;
    cursor: pointer;
  }
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
:host ::ng-deep .like {
  font-size: 1.7em;
}
:host ::ng-deep .like-card{
  width: 400px;
  height: 400px;
  box-sizing: border-box;
  padding: 1em;
}
:host ::ng-deep .card{
  width: 100%;
  height: 100%;
  margin: 0em;
  box-sizing: border-box;
}
.loading-ellipsis {
  padding: 20px;
  color: $dark-text;
}