@import "/src/variables.scss";
h3 {
  color: $main-text;
  font-family: Kanit-regular;
  font-size: 2em;
  margin: .2em;
}
.search {
  box-sizing: border-box;
  max-width: 100%;
  padding: 0 15px;
  input{
    box-sizing: border-box;
    font-size: 1.2em;
    padding-right: 2em;
    max-width: 100%;
    width: 40em;
  }
  .search-icon {
    color: $primary_dark;
    margin-left: -2em;
    cursor: pointer;
  }
}